<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droid.mediamultiselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For streaming remote video url -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme">

        <activity android:name=".activity.MediaSelectorActivity" />

    </application>

</manifest>